*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
KIRISPE
*/

.site-cover{
    height: 1080px;
    color: white;
}

.uni-text{
    font-size: 24px;
    width: 700px;
    padding: 10px 0 40px;
    margin: 0 auto;
    text-align: center;
}

.uni-img{
    width: 240px;
    margin: 0 auto;
}

.uni-img img{
    width: 100%;
}

.diploma-title{
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.1em;
    width: 700px;
    margin: 60px auto 30px; 
}

.diploma-description{
    text-align: center;
    width: 700px;
    margin: 0 auto;
    font-size: 24px;
}

.diploma-author{
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    margin: 60px 200px 0 0;
}

.kirispe{
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.kirispe-left{
    width: 45%;
}

.kirispe-right{
    width: 45%;
}

.kirispe-left img{
    width: 100%;
    margin-bottom: 30px;
    border-radius: 5px;
}

.kirispe-title{
    font-weight: 700;
    font-size: 28px;
    color: #F9F871;
}

.kirispe-text{
    font-size: 20px;
    color: white;
    margin-top: 30px;
    line-height: 25px;
}

.kirispe-btn{
    width: max-content;
    margin: 60px auto;
}
.kirispe-btn a{
    border-radius: 10px;
    background: #00C9A6;
    padding: 30px 60px;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.container{
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
}

.left{
    width: 20%;
    min-height: 100vh;
    background-color: #218CC8;
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: fixed;
    left: 0;
}

.right{
    width: 80%;
    min-height: 100vh;
    position: absolute;
    right: 0;
    padding: 25px 50px;
}


.nav-item a{
    display: flex;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-size: 20px;
}

.nav-item a:hover .nav-inner{
    width: 20px;
}

.nav-inner{
    height: 5px;
    width: 0px;
    background: white;
    border-radius: 2px;
    transition: 0.3s;
    margin-right: 10px;
}

.active .nav-inner{
    background: #F9F871;
    height: 5px;
    width: 20px;
}

.active a{
    color: #F9F871;
}

.back{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 20px;
}

.back img{
    width: 30px;
    height: 15px;
    margin-right: 10px;
}







.menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-item{
    padding: 15px 20px;
    color: white;
    background-color: #218CC8;
    transition: 0.3s;
    font-size: 18px;
    border-radius: 5px;
}

.menu-item:hover{
    background-color: #1A5F86;
}
.menu-active{
    background: #1A5F86 !important;
}

.right-container{
    width: 100%;
    position:relative;
    top: 20px;
    display: flex;
    justify-content: center;
}

.sections{
    position: absolute;
    width: 100%;
    display: none;
}

#bio{
    display: block;
}

.bio-img img{
    width: 100%;
}

.bio-name{
    font-size: 24px;
    font-weight: 700;
    margin: 60px 0 25px;
}

.bio-text{
    font-size: 18px;
    line-height: 25px;
}

.sections video{
    width: 100%;
    aspect-ratio: 16/9;
}

.audio h1{
    margin: 40px 0px 20px;
}

.sostav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sostav-left{
    width: 48%;
}

.sostav-text p{
    font-size: 16px;
    margin: 20px 0 40px;
    line-height: 25px;
}

.sostav-right{
    width: 48%;
}

.sostav-right img{
    width: 100%;
    margin-bottom: 40px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.gallery-item{
    max-width: 45%;
}

.gallery-item img{
    width: 100%;
}

.gallery-item p{
    text-align: center;
    font-size: 24px;
}


@media all and (max-width: 1024px){
    .kirispe{
        width: 768px;
    }
}

@media all and (max-width: 768px){
    .kirispe{
        width: 480px;
    }

    .diploma-author{
        margin-right: 20px;
    }

    .diploma-title{
        font-size: 28px;
        width: 90%;
    }

    .diploma-description{
        width: 90%;
    }

    .kirispe-text{
        font-size: 16px;
    }
}